.animation_breathe {
    -webkit-animation: breathe 1s ease 1;
    -moz-animation: breathe 1s ease 1;
    -ms-animation: breathe 1s ease 1;
    -o-animation: breathe 1s ease 1;
    animation: breathe 1s ease 1;
}

@-webkit-keyframes breathe {
	0% {
		-webkit-transform: scale(1);
	    -moz-transform: scale(1);
	    -ms-transform: scale(1);
	    -o-transform: scale(1);
	    transform: scale(1);  
	}

	50% {
		-webkit-transform: scale(0.9);
	    -moz-transform: scale(0.9);
	    -ms-transform: scale(0.9);
	    -o-transform: scale(0.9);
	    transform: scale(0.9); 
	}

	100% {
		-webkit-transform: scale(1);
	    -moz-transform: scale(1);
	    -ms-transform: scale(1);
	    -o-transform: scale(1);
	    transform: scale(1); 
	}
}

@-moz-keyframes breathe {
	0% {
		-webkit-transform: scale(1);
	    -moz-transform: scale(1);
	    -ms-transform: scale(1);
	    -o-transform: scale(1);
	    transform: scale(1);  
	}

	50% {
		-webkit-transform: scale(0.9);
	    -moz-transform: scale(0.9);
	    -ms-transform: scale(0.9);
	    -o-transform: scale(0.9);
	    transform: scale(0.9); 
	}

	100% {
		-webkit-transform: scale(1);
	    -moz-transform: scale(1);
	    -ms-transform: scale(1);
	    -o-transform: scale(1);
	    transform: scale(1); 
	}
}

@-ms-keyframes breathe {
	0% {
		-webkit-transform: scale(1);
	    -moz-transform: scale(1);
	    -ms-transform: scale(1);
	    -o-transform: scale(1);
	    transform: scale(1);  
	}

	50% {
		-webkit-transform: scale(0.9);
	    -moz-transform: scale(0.9);
	    -ms-transform: scale(0.9);
	    -o-transform: scale(0.9);
	    transform: scale(0.9); 
	}

	100% {
		-webkit-transform: scale(1);
	    -moz-transform: scale(1);
	    -ms-transform: scale(1);
	    -o-transform: scale(1);
	    transform: scale(1); 
	}
}

@-o-keyframes breathe {
	0% {
		-webkit-transform: scale(1);
	    -moz-transform: scale(1);
	    -ms-transform: scale(1);
	    -o-transform: scale(1);
	    transform: scale(1);  
	}

	50% {
		-webkit-transform: scale(0.9);
	    -moz-transform: scale(0.9);
	    -ms-transform: scale(0.9);
	    -o-transform: scale(0.9);
	    transform: scale(0.9); 
	}

	100% {
		-webkit-transform: scale(1);
	    -moz-transform: scale(1);
	    -ms-transform: scale(1);
	    -o-transform: scale(1);
	    transform: scale(1); 
	}
}

@keyframes breathe {
	0% {
		-webkit-transform: scale(1);
	    -moz-transform: scale(1);
	    -ms-transform: scale(1);
	    -o-transform: scale(1);
	    transform: scale(1);  
	}

	50% {
		-webkit-transform: scale(0.9);
	    -moz-transform: scale(0.9);
	    -ms-transform: scale(0.9);
	    -o-transform: scale(0.9);
	    transform: scale(0.9); 
	}

	100% {
		-webkit-transform: scale(1);
	    -moz-transform: scale(1);
	    -ms-transform: scale(1);
	    -o-transform: scale(1);
	    transform: scale(1); 
	}
}

.anim_delay_0ms {
    -we§bkit-animation-delay: 0.0s;
    -moz-animation-delay: 0.0s;
    -ms-animation-delay: 0.0s;
    -o-animation-delay: 0.0s;
    animation-delay: 0.0s;	
}


.anim_delay_1ms {
    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    -ms-animation-delay: 0.1s;
    -o-animation-delay: 0.1s;
    animation-delay: 0.1s;	
}

.anim_delay_2ms {
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    -ms-animation-delay: 0.2s;
    -o-animation-delay: 0.12;
    animation-delay: 0.2s;	
}

.anim_delay_3ms {
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    -ms-animation-delay: 0.3s;
    -o-animation-delay: 0.13;
    animation-delay: 0.3s;	
}

.anim_delay_4ms {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    -ms-animation-delay: 0.4s;
    -o-animation-delay: 0.14;
    animation-delay: 0.4s;	
}