/*Old body*/
/*body {
     background: #ffffff url(../images/bg.png) no-repeat top left;
     width: 1024px;
     height: 660px;
               
 }*/

body {
    background-color: white;


}

.circles {
    /*drop shadow on circles.. makes site really slow :( */
/*    -webkit-filter: drop-shadow(3px 7px 3px rgba(0,0,0,0.2));
    filter:         drop-shadow(3px 7px 3px rgba(0,0,0,0.2));*/
    position: absolute;
}


#c1 {
    top: -248px;
    left: -427px;
}

#c2 {
    top: 125px;
    left: -52px;
}

#c3 {
    top: 193px;
    left: 15px;
}

#c4 {
    top: 296px;
    left: 118px;
}

#c5 {
    top: 401px;
    left: 220px;
}


#contentcarrier {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
    height: 750px;
}


#title {
    width: 548px;
    height: 119px;
    position: absolute;
    top: 400px;
    left: 150px;
    background: transparent url(../title.png) no-repeat top left;
}

a:visited, a:link{
    color: black;
    text-decoration: none;
}

#cv a:visited {
    color: black;
}

#cv a:link {
    color: black;
}

.icon {
    width: 40px; 
    height: 33px; 
    top: 10px; 
    left: 6px;
    border-radius: 26px;
    position: relative; 

    -webkit-transition: -webkit-transform 2s cubic-bezier(.17, .67, .17, 1);
    -moz-transition: -moz-transform 2s cubic-bezier(.17, .67, .17, 1);
    -ms-transition: -ms-transform 2s cubic-bezier(.17, .67, .17, 1); /* IE10 is actually unprefixed */
    -o-transition: -o-transform 2s cubic-bezier(.17, .67, .17, 1);
    transition: transform 2s cubic-bezier(.17, .67, .17, 1);
}

.navButton {
    margin: 0px auto;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1.4px;
    position: absolute;
    cursor: pointer;
    width: 52px;
    height: 52px;
    background-color: #f1f1f1;
    border-radius: 26px;
    text-decoration: none;
    opacity: 1;

    -webkit-transition: -webkit-transform 2s cubic-bezier(.17, .67, .17, 1), opacity 0.5s;
    -moz-transition: -moz-transform 2s cubic-bezier(.17, .67, .17, 1), opacity 0.5s;
    -ms-transition: -ms-transform 2s cubic-bezier(.17, .67, .17, 1), opacity 0.5s; /* IE10 is actually unprefixed */
    -o-transition: -o-transform 2s cubic-bezier(.17, .67, .17, 1), opacity 0.5s;
    transition: transform 2s cubic-bezier(.17, .67, .17, 1), opacity 0.5s;

    -webkit-transform-origin: 65px 358px; 
    -moz-transform-origin: 65px 358px; 
    -ms-transform-origin: 65px 358px; 
    -o-transform-origin: 65px 358px; 
    transform-origin: 65px 358px; 
}

.hiddenButtons {
/*    -webkit-transform: scale(.5) !important;
    -moz-transform: scale(.5) !important;
    -ms-transform: scale(.5) !important;
    -o-transform: scale(.5) !important;
    transform: scale(.5) !important;*/
}

.hiddenIcons {
    -webkit-transform: rotate(50deg) !important;
    -moz-transform: rotate(50deg) !important;
    -ms-transform: rotate(50deg) !important;
    -o-transform: rotate(50deg) !important;
    transform: rotate(50deg) !important; 
}

.navButton p {
    position:absolute;
    font-size:13px;
    top: 3px;
    left: 52px;
    text-indent:10px;
    text-transform:uppercase;

    -webkit-transform-origin: -28px 10px;
    -moz-transform-origin: -28px 10px;
    -ms-transform-origin: -28px 10px;
    -o-transform-origin: -28px 10px;
    transform-origin: -28px 10px;

    -webkit-transition: -webkit-transform 1s ease-out, opacity 2s ease 2s;
    -moz-transition: -moz-transform 1s ease-out, opacity 2s ease 2s;
    -ms-transition: -ms-transform 1s ease-out, opacity 2s ease 2s;
    -o-transition: -o-transform 1s ease-out, opacity 2s ease 2s;
    transition: transform 1s ease-out, opacity 2s ease 2s;
}

#homeButton {
    top: 62px;
    left: 175px; 

    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);

    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}

#homeButton p, #homeButton img {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}

#contactButton {
    top: 62px;
    left: 175px;

    -webkit-transform: rotate(30.5deg);
    -moz-transform: rotate(30.5deg);
    -ms-transform: rotate(30.5deg);
    -o-transform: rotate(30.5deg);
    transform: rotate(30.5deg);

    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -ms-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

#contactButton p, #contactButton img {
    -webkit-transform: rotate(-30.5deg);
    -moz-transform: rotate(-30.5deg);
    -ms-transform: rotate(-30.5deg);
    -o-transform: rotate(-30.5deg);
    transform: rotate(-30.5deg);
}

#contactButton img {
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -ms-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

#portfolioButton {
    top: 62px;
    left: 175px;

    -webkit-transform: rotate(61deg);
    -moz-transform: rotate(61deg);
    -ms-transform: rotate(61deg);
    -o-transform: rotate(61deg);
    transform: rotate(61deg);

    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -ms-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

#portfolioButton p, #portfolioButton img {
    -webkit-transform: rotate(-61deg);
    -moz-transform: rotate(-61deg);
    -ms-transform: rotate(-61deg);
    -o-transform: rotate(-61deg);
    transform: rotate(-61deg);
}

#portfolioButton img {
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -ms-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
}


#skillsButton {
    top: 62px;
    left: 175px;

    -webkit-transform: rotate(91.5deg);
    -moz-transform: rotate(91.5deg);
    -ms-transform: rotate(91.5deg);
    -o-transform: rotate(91.5deg);
    transform: rotate(91.5deg);

    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    -ms-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;

}

#skillsButton p, #skillsButton img {
    -webkit-transform: rotate(-91.5deg);
    -moz-transform: rotate(-91.5deg);
    -ms-transform: rotate(-91.5deg);
    -o-transform: rotate(-91.5deg);
    transform: rotate(-91.5deg);
}

#skillsButton img {
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    -ms-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

#cvButton {
    top: 62px;
    left: 175px;

    -webkit-transform: rotate(122deg);
    -moz-transform: rotate(122deg);
    -ms-transform: rotate(122deg);
    -o-transform: rotate(122deg);
    transform: rotate(122deg);

    -webkit-transition-delay: 0.4s;
    -moz-transition-delay: 0.4s;
    -ms-transition-delay: 0.4s;
    -o-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

#cvButton p, #cvButton img {
    -webkit-transform: rotate(-122deg);
    -moz-transform: rotate(-122deg);
    -ms-transform: rotate(-122deg);
    -o-transform: rotate(-122deg);
    transform: rotate(-122deg);
}

#cvButton img {
    -webkit-transition-delay: 0.4s;
    -moz-transition-delay: 0.4s;
    -ms-transition-delay: 0.4s;
    -o-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

#backButton {
    top: 62px;
    left: 175px;

    -webkit-transform: rotate(152.5deg);
    -moz-transform: rotate(152.5deg);
    -ms-transform: rotate(152.5deg);
    -o-transform: rotate(152.5deg);
    transform: rotate(152.5deg);

    -webkit-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    -ms-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    transition-delay: 0.5s;

    /*opacity: 1 !important; */
}

#backButton p, #backButton img {
    -webkit-transform: rotate(-152deg);
    -moz-transform: rotate(-152deg);
    -ms-transform: rotate(-152deg);
    -o-transform: rotate(-152deg);
    transform: rotate(-152deg);
}

#backButton img {
    -webkit-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    -ms-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    transition-delay: 0.5s;
}

.contentbox {
    position: absolute;
    padding: 0px;
    left: 680px;
    width: 250px;
    min-height: 400px;
    top: 190px;
    /*background: url(../images/fade.png) repeat-x;*/
    font-family: "Trebuchet MS", sans-serif;
    font-style: normal;
    font-size: 13px;
    text-align: left;
    color: #222;
    border-radius: 25px;
    display: none;
}

:target {
    display: block;
}

.ppimagebox
{
    padding-top:25px;
    padding-bottom:25px;
    text-align: center;
    width:100%;
    }
    
.pptextbox
{
    margin-left:15px;
    margin-right:15px;
    font-family: "Trebuchet MS", sans-serif;
    font-style: normal;
    color: Gray;
}

.imgLinks 
{
    display: none;
}

#measure {
    position: absolute;
    left: -68px;
    top: 1px;
    z-index: 2;
    
}









