.trans_delay_0ms {
    -webkit-transition-delay: 0.0s;
    -moz-transition-delay: 0.0s;
    -ms-transition-delay: 0.0s;
    -o-transition-delay: 0.0s;
    transition-delay: 0.0s;	
}


.trans_delay_1ms {
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -ms-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    transition-delay: 0.1s;	
}

.trans_delay_2ms {
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -ms-transition-delay: 0.2s;
    -o-transition-delay: 0.12;
    transition-delay: 0.2s;	
}

.trans_delay_3ms {
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    -ms-transition-delay: 0.3s;
    -o-transition-delay: 0.13;
    transition-delay: 0.3s;	
}

.trans_delay_4ms {
    -webkit-transition-delay: 0.4s;
    -moz-transition-delay: 0.4s;
    -ms-transition-delay: 0.4s;
    -o-transition-delay: 0.14;
    transition-delay: 0.4s;	
}

.theview.ng-enter,
.theview.ng-leave {
    transition: all 5s linear;
}

.theview.ng-enter {
    opacity: 0;
}

.theview.ng-leave {
    opacity: 1;
}